<div class="container">
    <div class="row">
        <h1>Overview of an Industry's Data</h1>
        <h5>This page is used to generate two radar graphs that together give an overview of data on an industry for a specific year.  Once all required information is selected, you can generate the radar graphs that will help you analyze your data. All data comes from the US Bureau of Labor Statistics. Here are some helpful instructions and information to get you started with the dashboard:</h5>
        <h6>Information on Data</h6>
        <ol class="tip-list">
            <li>The data sets used from the US Bureau of Labor Statistics are the <a href="https://www.bls.gov/cew/overview.htm">State and County Employment and Wages from Quarterly Census of Employment and Wages</a> and the <a href="https://www.bls.gov/jlt/jltover.htm">Job Openings and Labor Turnover Survey</a></li>
            <li>You can view data from 2007 up to 2021.</li>
            <li>There are two radar graphs that are generated: The first is "State-Based Employment Data" for an Industry and the other is "Country-Wide Employment Data</li>
            <li>The "State-Based Employment Data" radar graph will generate a radar graph displaying the Number of Employees, Average Annual Pay, and Average Weekly Wage for an Industry in the state you selected for the year you selected.
            </li>
            <li>The "Country-Wide Employment Data" radar graph will generate a radar graph displaying the number of Job Openings, Layoffs & Discharges, and Hires for the year selected in the United States. State-based data is not available for these measurments.</li>
        </ol>
        <h6>Tips on Generating the Graphs</h6>
        <ol class="tip-list">
            <li>Selecting an Industry, A State, and a Year are all required to generate the radar graphs. Until these fields are completed, the "Generate Graphs" button will remain disabled.</li>
        </ol>
        <h6>Tips on Interpreting the Graph</h6>
        <ol class="tip-list">
            <li>Once you generate the radar graphs, you can hover over each data point. Hovering over the data point will tell you the name of the industry, the measurment the data point is referring to and the value of this data point.</li>
            <li>For units, note that Average Annual Pay and Average Weekly Wage are both given in US dollars.</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm">
            Industry
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="selectedInfo.Industry" id="industry" (change)="checkGenerate()">
                <option selected>Select an Industry</option>
                <option *ngFor="let industry of industries" [value]="industry">
                    {{industry}}
                </option>
              </select>
            </div>
        </div>
        <div class="col-sm">
          State
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="selectedInfo.State" id="state" (change)="checkGenerate()">
              <option selected>Select a State</option>
              <option *ngFor="let state of states" [value]="state">
                {{state}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          Year
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="selectedInfo.Year" id="year" (change)="checkGenerate()">
              <option selected>Select a Year</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" [disabled]="noGenerate" (click)="generateGraphs()">Generate Graphs</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>State-Based Employment Data</h3>
            <ngx-charts-polar-chart
                [view]="[600, 500]"
                [legend]="legend"
                [scheme]="'vivid'"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [labelTrim]="false"
                [results]="multi">
            </ngx-charts-polar-chart>
        </div>
        <div class="col">
            <h3>Country-Wide Employment Data</h3>
            <ngx-charts-polar-chart
                [view]="[600, 500]"
                [legend]="legend"
                [scheme]="'vivid'"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [labelTrim]="false"
                [results]="multi2">
            </ngx-charts-polar-chart>
        </div>
    </div>
  </div>