<div id="introPage" class="text-center">
    <h1>Welcome to the Industry-Based Employment Data Dashboard</h1>
    <p id="introContent">Click on a selection to get started. The "Timeline" page allows you to compare data from different industry and states over a specified timeline. The "Industry Overview" page allows you to see the overview of available data on an industry for a specific year.</p>
    <button type="button" class="btn btn-primary" routerLink="/timeline"id="timelineBtn">Timeline</button>
    <button type="button" class="btn btn-primary" routerLink="/overview">Industry Overview</button> 
</div>