<div class="container">
    <div class="row">
        <h1>Time Based Industry Data</h1>
        <h5>This page is used to generate a line graph that gives an overview of industry data over a selected timeline and allows for the comparison of at minimum 1 and at most 4 industries. Once all required information is selected, you can generate a line graph that will help you compare your data. All data comes from the US Bureau of Labor Statistics. Here are some helpful instructions and information to get you started with the dashboard:</h5>
        <h6>Information on Available Data</h6>
        <ol class="tip-list">
            <li>The data sets used from the US Bureau of Labor Statistics are the <a href="https://www.bls.gov/cew/overview.htm">State and County Employment and Wages from Quarterly Census of Employment and Wages</a> and the <a href="https://www.bls.gov/jlt/jltover.htm">Job Openings and Labor Turnover Survey</a></li>
            <li>You can view data from 2007 up to 2021.</li>
            <li>The measurements available are Number of Employees, Average Weekly Wage (In US Dollars), Average Annual Pay (In US Dollars), Job Openings, Hires, and Layoffs and Discharges.</li>
            <li>Number of Employees, Average Weekly Wage, and Average Annual Pay are all available at the state level meaning when you select this measurement, selection of a particular state will become available to you and it will also be necessary in each row for graph generation.</li>
            <li>For measurements Job Openings, Hires, and Layoffs and Discharges, the data is given at the national level and the state box will become disabled and will not be necessary for graph generation.
            </li>
        </ol>
        <h6>Tips on selecting Data for the Timeline Page</h6>
        <ol class="tip-list">
            <li>Selecting an Industry, Measurement, Start Year, and End Year are all required in each row added to generate a graph. Until these fields are completed, the "Generate Graph" button will remain disabled.</li>
            <li>For measurements Job Openings, Hires, and Layoffs and Discharges, the data is given at the national level and the state box will become disabled and will not be necessary for graph generation.
            </li>
            <li>Measurements can only be selected in the first industry row and will be automatically filled for the additional rows based on the first row's selection.</li>
            <li>You cannot remove the first industry row. This row is required for any graph generation.</li>
            <li>You cannot add more industry rows after four have been added. Four is the maximum number of rows of data that can be compared.</li>
        </ol>
        <h6>Tips on reading the graph</h6>
        <ol class="tip-list">
            <li>Once you generate a graph, you can hover over each data point. Hovering over a specific line's data point will give you the associated industry, state, and data point value.</li>
            <li>Hovering on a line of the x-axis will give the data points for all lines on the chart in the form "Industry: value".</li>
            <li>Hovering on a specific data line's point will give the data point for that industry only in the form "Industry: value."</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm">
            <h6>Industry</h6>
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="selectedInfo[0].Industry" id="industry" (change)="checkGenerate()">
                <option selected>Select an Industry</option>
                <option *ngFor="let industry of industries" [value]="industry">
                    {{industry}}
                </option>
              </select>
            </div>
        </div>
        <div class="col-sm">
            Measurement
            <div class="input-group mb-3">
              <select class="custom-select" [(ngModel)]="selectedInfo[0].Measurement" id="measurement" (change)="checkGenerate(); checkMeasurement()">
                <option selected>Select a Measurement</option>
                <option *ngFor="let measurement of measurements" [value]="measurement">
                  {{measurement}}
              </option>
              </select>
            </div>
          </div>
        <div class="col-sm">
          State
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="selectedInfo[0].State" id="state" (change)="checkGenerate()" [disabled]="noState">
              <option selected>Select a State</option>
              <option *ngFor="let state of states" [value]="state">
                {{state}}
            </option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          Start Year
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="selectedInfo[0].StartYear" id="startYear" (change)="checkGenerate()">
              <option selected>Select a Start Year</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          End Year
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="selectedInfo[0].EndYear" id="endYear" (change)="checkGenerate()">
              <option selected>Select an End Year</option>
              <option value="2007">2007</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
    </div>
    <div *ngFor="let item of items; let i = index">
        <div class="row">
            <div class="col-sm">
                Industry
                <div class="input-group mb-3">
                  <select class="custom-select" [(ngModel)]="selectedInfo[i+1].Industry" (change)="checkGenerate()">
                    <option selected>Select an Industry</option>
                    <option *ngFor="let industry of industries" [value]="industry">
                        {{industry}}
                    </option>
                  </select>
                </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              State
              <div class="input-group mb-3">
                <select class="custom-select" [(ngModel)]="selectedInfo[i+1].State" (change)="checkGenerate()" [disabled]="noState">
                  <option selected>Select a State</option>
                  <option *ngFor="let state of states" [value]="state">
                    {{state}}
                </option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              Start Year
              <div class="input-group mb-3">
                <select class="custom-select" [(ngModel)]="selectedInfo[i+1].StartYear" (change)="checkGenerate()">
                  <option selected>Select a Start Year</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
            </div>
            <div class="col-sm">
              End Year
              <div class="input-group mb-3">
                <select class="custom-select" [(ngModel)]="selectedInfo[i+1].EndYear" (change)="checkGenerate()">
                  <option selected>Select an End Year</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="addRow()" [disabled]="noIndustryAdd">Add Another Row</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="removeRow()" [disabled]="noIndustryRemove">Remove A Row</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="generateGraph()" [disabled]="noGenerateGraph">Generate Graph</button>
        </div>
    </div>
    <div class="row">
        <ngx-charts-line-chart
            [view]="[1400, 600]"

            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [scheme]="'vivid'"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
        >
        </ngx-charts-line-chart>
    </div>
  </div>